<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web3-transaction</title>
</head>
<body>
<form action="/transaction" method="post">
<table style=" width: 20%; border: 4px double black;">
    <tr><td>Sender Name </td> <td><input name="senderName" type="text" /></td></tr>
    <!--        <td style="border: 1px solid black; text-align: center">-->
    <tr><td>Sender Password </td> <td> <input name="senderPass" type="password"/></td></tr>
    <tr><td> Count </td> <td> <input name="count" type="text"/></td></tr>
    <tr><td> name To </td> <td> <input name="nameTo" type="text"/></td></tr>
    <tr><td><input type="submit" value="Submit"></td></tr>
</table>
</form>
<a href="/registration">Registration</a>
</body>
</html>