<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>web3-registration</title>
</head>
<body>
<form action="/registration" method="post">
<table style=" width: 10%; border: 4px double black;">
    <tr><td>Name </td> <td><input name="name" type="text" /></td></tr>
<!--        <td style="border: 1px solid black; text-align: center">-->
    <tr><td> Password </td> <td> <input name="password" type="password"/></td></tr>
    <tr><td> Money </td> <td> <input name="money" type="text"/></td></tr>
    <tr><td><input type="submit" value="Submit"></td></tr>
</table>
    <a href="/transaction">Transaction</a>
</form>
</body>
</html>

